#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_autoreconf:

override_dh_auto_configure:
	dh_auto_configure \
		-- \
		--disable-silent-rules \
		--disable-werror \
		--enable-examples=no \
		--enable-manpages=no \
		--enable-shared \
		--enable-static=no \
		--enable-test-tool=no \
		--enable-tests=no		

override_dh_auto_install:
	dh_auto_install --destdir=debian/tmp
	rm -rf debian/tmp/usr/share/man
	find debian/tmp -type f -name '*.la' -exec rm -rf {} \;

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@
